* { box-sizing: border-box; }

body {
    background-color: #2f4578;
    color: #f4fcf4;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: xx-large;
    margin: 0 0 1vh 0;
}

h1 span { font-weight: normal; }

h2 {
    font-size: large;
    margin: 0;
}

hr { margin: 2.5vh 0 5vh 0; }

p { font-size: large; }

#avatar {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    width: 345px;
}

[class*="col-"] {
    float: left;
    padding: 5vw 2.5vw;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    body { padding: 5vw; }

    [class*="col-"] { padding: 1vw; }

    .col-avatar { width: 20%; }
    .col-content { width: 80%; }
}

@media only screen and (min-width: 1024px) {
    .col-content { width: 60%; }
}
